md-toast {
  text-align: center;
}

#workspace {
  height: 100%;
  margin: 0 auto;
  max-width: 900px;
}

._md-nav-bar-list {
  justify-content: flex-start;
}

.md-nav-item:first-of-type {
  margin-left: 24px;
}

#header-username {
  margin-left: auto;
  margin-right: 32px;
}

#contentWrap h1 {
  margin-top: 0;
}
