.left { float: left; }
.right { float: right; }

md-toast {
  text-align: center;
}

header {
  padding: 24px;
}

md-content {
  min-width: 1000px;
  max-width: 1000px;
  margin: 0 auto;
}

.md-button {
  min-width: auto;
  padding-left: 16px;
  padding-right: 16px;
  box-shadow: none !important;
}

#whiteframe {
  margin: 0 auto;
}

#contentWrap {
  padding: 24px;
}

#logoIcon {
  font-size: 32px;
  margin-right: 16px;
}

#accountIcon:hover {
  opacity: 0.5;
}

#websiteTitle {
  border-left: 1px solid;
  padding-left: 16px;
}

#userMenu {
  margin-left: auto;
}

#userMenu md-menu {
  margin-top: 3px;
}

#pageHead {
  height: 80px;
}

#mainBtn {
  margin: 0 0 0 auto;
}
