@import url("sizes.less");

/* BASE STYLES */

.left { float: left; }
.right { float: right; }

/* MATERIAL OVERWRITES */

md-toast {
  text-align: center;
}

md-content {
  min-width: @appWidth;
  max-width: @appWidth;
  margin: 0 auto;
}

.md-button {
  min-width: auto;
  padding-left: 16px;
  padding-right: 16px;
  box-shadow: none !important;
}

/* HEADER */

header {
  padding: @appPadding;
}

#whiteframe {
  margin: 0 auto;
}

#logoIcon {
  font-size: 32px;
  margin-right: 16px;
}

#accountIcon:hover {
  opacity: 0.5;
}

#websiteTitle {
  border-left: 1px solid;
  padding-left: 16px;
}

#userMenu {
  margin-left: auto;

  &#userMenu md-menu {
    margin-top: 3px;
  }
}

/* CONTENT AREA */

#contentWrap {
  padding: @appPadding;
}

#pageHead {
  height: 80px;
}

/* BUTTONS */

#mainBtn {
  margin: 0 0 0 auto;
}
