.left { float: left; }
.right { float: right; }

md-toast {
  text-align: center;
}

header {
  padding: 24px;
}

.md-nav-item:first-of-type {
  margin-left: 0;
}

.md-nav-item:first-of-type a {
  margin-left: 0;
}

.md-nav-item:last-of-type {
  margin-left: auto;
}

.md-nav-item:last-of-type a {
  margin-right: 0;
}

#whiteframe {
  min-width: 1000px;
  max-width: 1000px;
  margin: 0 auto;
}

#contentWrap {
  padding: 24px;
}

#logo {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  margin-right: 16px;
}

#websiteTitle {
  border-left: 1px solid;
  padding-left: 16px;
}
