<h1 class="md-display-1">FAQ</h1>
<p class="md-subhead">Maecenas faucibus mollis interdum. Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>

<md-divider></md-divider>

<h3 class="md-title">Can I drink alcohol and how do I track it?</h3>
<p class="md-body-1">Yes, you can drink alcohol. Take the total calories divided by 4. This will give you the amount of carbs in grams your alcohol is. Do not trust what is in MFP when it comes to tracking alcohol. It is hardly ever correct.</p>

<h3 class="md-title">How do I track my macros when I eat out?</h3>
<p class="md-body-1">Request no butter, oil, or other sauces are used to prepare your food if you want to save A LOT of fats.  Always allow for a little extra room for fats when eating out. It’s better to overestimate on fats if you are seeking weight loss.</p>
<p class="md-body-1">The easiest thing to do when eating out is to order lean meat with vegetables with no butter/oil. You can do a dry baked potato with the toppings on the side so you control the additional fats.</p>
<p class="md-body-1">I recommend my clients to figure out what you want to eat ahead of time and plan for those macros in your day. This will allow you to eat around your desired meal you are eating out and stay on track.</p>

<h3 class="md-title">Do I need to count calories?</h3>
<p class="md-body-1">You just need to focus on meeting your target macros. Macronutrients total calories. Protein equal 4 calories per gram, Carbs equal 4 calories per gram and Fat equals 9 calories per gram. If a food had has 20 carbs, 50 protein and 10 fat, this food would have 370 calories. (20c x 4 = 80 calories, 50p x 4 = 200 calories and 10f x 9 = 90 calories.</p>

<h3 class="md-title">Do I get a cheat meal?</h3>
<p class="md-body-1">There is no need to have an all out cheat meal when tracking your macros. Build your cheat meal into your macros. For example, if you want a cheeseburger and fries for your “cheat”, enter that in your day first thing and build your day around that meal. You will have to eat leaner protein and low carb/low fat options the rest of the day, but you stay on track reaching your goals and still enjoy your “cheat”.</p>

<h3 class="md-title">My protein goal is a lot more than I am currently eating.  How do I reach my protein goal?</h3>
<p class="md-body-1">Most people do not eat enough protein. With that said, your protein goal may be a lot higher than you are currently consuming. I recommend starting about 20 grams less than your recommended target for a few days and build up to your target to decrease the chance of stomach discomfort.</p>

<h3 class="md-title">What are some good options to help me meet protein target?</h3>
<p class="md-body-1">There are a lot of protein sources to choose from, but some common options are ground turkey, lean ground hamburger, chicken breast, chicken tenders, canned chicken, canned tuna, whole eggs, egg whites, protein powders (whey, plant, beef), beef jerky, steak, salmon, cottage cheese, greek yogurt, and fish.</p>

<h3 class="md-title">Do I have to meet my macros exact?</h3>
<p class="md-body-1">The goal is to meet your macros within 5 grams above or below your target macros. You do not have to be exact and remember there is a learning curve so be patient as you start the process of tracking your food.</p>

<h3 class="md-title">Is everything on my fitness pal accurate?</h3>
<p class="md-body-1">No, there are thousands of users entering data on my fitness pal. Make sure the entry looks accurate. Calorie king is a great website to verify macros when you are questioning an entry.</p>

<h3 class="md-title">How do I calculate the macros of a casserole or dish with a lot ingredients?</h3>
<p class="md-body-1">Create a recipe using my fitness pal if it’s a recipe you use frequently and cannot guess the amount of each ingredient. By creating a recipe you can break the recipe down by serving size for accurate macros.</p>

<h3 class="md-title">Should I log my exercise in my fitness pal?</h3>
<p class="md-body-1">No, just log your food.</p>
