<div id="contentWrap">
  <div id="pageHead" layout="row" layout-align="start center">
    <h1 class="md-title">Login</h1>
    <md-button type="submit" id="mainBtn" class="md-raised md-primary" ng-click="signInUser()">Login</md-button>
  </div>
  <p class="md-body-1">Maecenas faucibus mollis interdum. Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor...</p>

  <div>
    <md-input-container class="md-block">
      <label>Email Address</label>
      <input ng-model="email" type="email" id="email-input">
    </md-input-container>

    <md-input-container class="md-block">
      <label>Password</label>
      <input ng-model="password" type="password" id="password-input">
    </md-input-container>
  </div>

</div>
