<div id="contentWrap" ng-controller="BodyCtrl" ng-cloak="">

  <div id="pageHead" layout="row" layout-align="start center">
    <h1 class="md-title">{{displayName}}'s Body</h1>
    <md-button id="mainBtn" class="md-raised md-primary" ng-click="addRecord($event)">Add Record</md-button>
  </div>

  <div layout="row">
    <div class="col-left-spacing" flex>
      <p>The following information is baseline stats which were last updated on {{updated}}.  These should be recorded as your starting point and any progress updates should be entered as a record.</p>
      <md-list-item class="secondary-button-padding" ng-click="null">
        <p>Weight: {{userWeight}} lbs.</p>
        <md-button class="md-secondary" ng-click="updateWeight($event)">Change</md-button>
      </md-list-item>
      <md-list-item class="secondary-button-padding" ng-click="null">
        <p>Chest: {{userChest}}"</p>
        <md-button class="md-secondary" ng-click="updateChest($event)">Change</md-button>
      </md-list-item>
      <md-list-item class="secondary-button-padding" ng-click="null">
        <p>Waist: {{userWaist}}"</p>
        <md-button class="md-secondary" ng-click="updateWaist($event)">Change</md-button>
      </md-list-item>
      <md-list-item class="secondary-button-padding" ng-click="null">
        <p>Hips: {{userHips}}"</p>
        <md-button class="md-secondary" ng-click="updateHips($event)">Change</md-button>
      </md-list-item>
      <md-list-item class="secondary-button-padding" ng-click="null">
        <p>Body Fat: {{userFat}}%</p>
        <md-button class="md-secondary" ng-click="updateFat($event)">Change</md-button>
      </md-list-item>
    </div>

    <div class="col-right-spacing" flex>
      <p>Add records to keep track of your progress.  It's common for a new record to be created roughly every 3-4 weeks at minimum.<br/><br/></p>
      <md-whiteframe class="bodyRecord md-whiteframe-1dp"
                     ng-repeat="record in recordsArray | orderBy:'updated'"
                     ng-if="record.name!='baseRecord'"
                     layout="row"
                     layout-align="start center"
                     flex
                     layout-padding>
        <h3 class="md-body-2">{{record.name}}</h3>
        <p class="md-caption">{{record.updated}}</p>
      </md-whiteframe>
    </div>
  </div>
</div>
