<div id="nutritionPage" ng-controller="NutritionCtrl" ng-cloak="">
  <h1 class="md-display-1">Nutrition</h1>
  <p class="md-subhead">Maecenas faucibus mollis interdum. Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>

    <h3 class="md-title">Step One: Basic Information</h3>
    <p class="md-body-1">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>

      <md-input-container id="genderInput" class="md-block">
        <label>Your Gender</label>
        <md-select ng-model="user.gender">
          <md-option ng-repeat="gender in genders" value="{{gender.abbrev}}">
            {{gender.abbrev}}
          </md-option>
        </md-select>
      </md-input-container>

      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Your Weight (In Pounds)</label>
          <input ng-model="user.weight">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Your Goal</label>
          <md-select ng-model="user.goal">
            <md-option ng-repeat="goal in goals" value="{{goal.abbrev}}">
              {{goal.abbrev}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>

    <h3 class="md-title">Step Two: Daily Macro Intake</h3>
    <p class="md-body-1">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>

    <div id="macroInputs" layout="row">
      <div layout="column" flex="33">
        <p class="md-body-2">Day One</p>
        <md-input-container class="proteinInput">
          <label>Protein (grams)</label>
          <input ng-model="user.dayOneProtein">
        </md-input-container>
        <md-input-container>
          <label>Carbs (grams)</label>
          <input ng-model="user.dayOneCarbs">
        </md-input-container>
        <md-input-container>
          <label>Fat (grams)</label>
          <input ng-model="user.dayOneFat">
        </md-input-container>
      </div>

      <div layout="column" flex="33">
        <p class="md-body-2">Day Two</p>
        <md-input-container class="proteinInput">
          <label>Protein (grams)</label>
          <input ng-model="user.dayTwoProtein">
        </md-input-container>
        <md-input-container>
          <label>Carbs (grams)</label>
          <input ng-model="user.dayTwoCarbs">
        </md-input-container>
        <md-input-container>
          <label>Fat (grams)</label>
          <input ng-model="user.dayTwoFat">
        </md-input-container>
      </div>

      <div layout="column" flex="33">
        <p class="md-body-2">Day Three</p>
        <md-input-container class="proteinInput">
          <label>Protein (grams)</label>
          <input ng-model="user.dayThreeProtein">
        </md-input-container>
        <md-input-container>
          <label>Carbs (grams)</label>
          <input ng-model="user.dayThreeCarbs">
        </md-input-container>
        <md-input-container>
          <label>Fat (grams)</label>
          <input ng-model="user.dayThreeFat">
        </md-input-container>
      </div>
    </div>

    <p class="md-body-1">
      [TEMP-REMOVE] You are a
      <span class="md-body-2">{{user.gender}}</span> weighing
      <span class="md-body-2">{{user.weight}}</span> lbs. that wants to
      <span class="md-body-2">{{user.goal}}</span>.
      </p>

    <md-button id="nutrition-form-submit" class="md-raised md-primary">Calculate Macros</md-button>
</div>
