<div ng-controller="ProfileCtrl" ng-cloak="">
  <h1 class="md-display-1">Profile</h1>
  <p class="md-subhead">Maecenas faucibus mollis interdum. Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor...</p>

  <md-divider></md-divider>

<ul>
  <li class="md-body-1">User Email: {{userEmail}}</li>
  <li class="md-body-1">User ID: {{userID}}</li>
  <li class="md-body-1">User Display Name: {{userDisplayName}}</li>
</ul>

<md-input-container class="md-block">
  <label>Your Display Name</label>
  <input ng-model="displayName" type="text">
</md-input-container>

  <md-button id="button-signOutUser" class="md-raised md-primary" ng-click="signOutUser()">Logout</md-button>
  <md-button class="md-raised md-primary" ng-click="updateUserData()">Update</md-button>
</div>
