<md-nav-bar id="navigation-bar" md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
  <md-nav-item id="nav-home" md-nav-href="#/home" name="home" value="home">Home</md-nav-item>
  <md-nav-item id="nav-about" md-nav-href="#/about" name="about" value="about">About</md-nav-item>
  <md-nav-item id="nav-faq" md-nav-href="#/faq" name="faq" value="faq">FAQ</md-nav-item>
  <md-nav-item id="nav-nutrition" md-nav-href="#/nutrition" name="nutrition" value="nutrition">Nutrition</md-nav-item>
  <p id="header-username" class="md-body-1" ng-bind-html="userStatus()"><a href='#/login'>Login/Register</a></p>
</md-nav-bar>
